<footer class="site-footer">
	<div class="wrap">
		<div class="footer-cols">

			<div class="footer-brand">
				<a class="brand footer-brand-link" href="/">
					<img src="/img/logo.png" alt="Seniors for Climate">
					<span class="brand-region">British<br>Columbia</span>
				</a>
			</div>

			<div>
				<h3>Quick links</h3>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about/">About Us</a></li>
					<li><a href="/take-action/">Take Action</a></li>
					<li><a href="/news/">News</a></li>
					<li><a href="/contact/">Contact Us</a></li>
					<li><a href="/donate/">Donate</a></li>
				</ul>
			</div>

			<div>
				<h3>Get in touch</h3>
				<p><a href="mailto:bc-hub@seniorsforclimate.org">bc-hub@seniorsforclimate.org</a></p>
				<p>We meet online once a month. Everyone is welcome.</p>
			</div>

		</div>
	</div>
</footer>
