<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div class="mb3">
				<h3 class="f4 b lh-title mb1 primary">Seniors for Climate</h3>
				<p class="ma0">British Columbia</p>
			</div>

			<div class="mb3">
				<h3 class="f4 b lh-title mb1 primary">Quick links</h3>
				<ul class="mb3 list pl0">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about/" class="link">About Us</a></li>
					<li><a href="/take-action/" class="link">Take Action</a></li>
					<li><a href="/news/" class="link">News</a></li>
					<li><a href="/contact/" class="link">Contact Us</a></li>
					<li><a href="/donate/" class="link">Donate</a></li>
				</ul>
			</div>

			<div class="mb3">
				<h3 class="f4 b lh-title mb1 primary">Get in touch</h3>
				<p class="ma0"><a href="mailto:bc-hub@seniorsforclimate.org" class="link">bc-hub@seniorsforclimate.org</a></p>
			</div>

		</div>
	</div>

</footer>
